# Week12 Lab

Scrape the information from the following website: https://www.scrapethissite.com/pages/simple/ 
show the values in a dataframe

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
response = requests.get('https://www.scrapethissite.com/pages/simple/')
response.ok

True

In [3]:
response.text[:1000]

'<!doctype html>\n<html lang="en">\n  <head>\n    <meta charset="utf-8">\n    <title>Countries of the World: A Simple Example | Scrape This Site | A public sandbox for learning web scraping</title>\n    <link rel="icon" type="image/png" href="/static/images/scraper-icon.png" />\n\n    <meta name="viewport" content="width=device-width, initial-scale=1.0">\n    <meta name="description" content="A single page that lists information about all the countries in the world. Good for those just get started with web scraping.">\n\n    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">\n    <link href=\'https://fonts.googleapis.com/css?family=Lato:400,700\' rel=\'stylesheet\' type=\'text/css\'>\n    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">\n\n    \n<meta name='

In [4]:
html_doc = response.text

In [5]:
soup = BeautifulSoup(html_doc, 'html.parser')

In [23]:
t = soup.find_all('div', {"class":"col-md-4 country"})

In [28]:
countries = [t[i].h3.text.strip() for i in range(len(t))]
capitals = [t[i].span.text for i in range(len(t))]

In [29]:
import pandas as pd

In [30]:
df = pd.DataFrame()

In [31]:
df['countries'] = countries
df['capitals'] = capitals

In [34]:
df.head(15)

               countries          capitals
0                Andorra  Andorra la Vella
1   United Arab Emirates         Abu Dhabi
2            Afghanistan             Kabul
3    Antigua and Barbuda        St. John's
4               Anguilla        The Valley
5                Albania            Tirana
6                Armenia           Yerevan
7                 Angola            Luanda
8             Antarctica              None
9              Argentina      Buenos Aires
10        American Samoa         Pago Pago
11               Austria            Vienna
12             Australia          Canberra
13                 Aruba        Oranjestad
14                 Åland         Mariehamn