# Week12 Lab

Scrape the information from the following website: https://www.scrapethissite.com/pages/simple/ 
show the values in a dataframe

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
response = requests.get('https://www.scrapethissite.com/pages/simple/')
response.ok

True

In [3]:
response.text[:1000]

'<!doctype html>\n<html lang="en">\n  <head>\n    <meta charset="utf-8">\n    <title>Countries of the World: A Simple Example | Scrape This Site | A public sandbox for learning web scraping</title>\n    <link rel="icon" type="image/png" href="/static/images/scraper-icon.png" />\n\n    <meta name="viewport" content="width=device-width, initial-scale=1.0">\n    <meta name="description" content="A single page that lists information about all the countries in the world. Good for those just get started with web scraping.">\n\n    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">\n    <link href=\'https://fonts.googleapis.com/css?family=Lato:400,700\' rel=\'stylesheet\' type=\'text/css\'>\n    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">\n\n    \n<meta name='

In [4]:
html_doc = response.text

In [5]:
soup = BeautifulSoup(html_doc, 'html.parser')

In [23]:
t = soup.find_all('div', {"class":"col-md-4 country"})

In [46]:
t[0].find_all('span')[1].text

'84000'

In [47]:
countries = [t[i].h3.text.strip() for i in range(len(t))]
capitals = [t[i].span.text for i in range(len(t))]
population = [t[i].find_all('span')[1].text for i in range(len(t))]
area = [t[i].find_all('span')[2].text for i in range(len(t))]

In [48]:
import pandas as pd

In [49]:
df = pd.DataFrame()

In [50]:
df['countries'] = countries
df['capitals'] = capitals
df['population'] = population
df['area'] = area

In [51]:
df.head(15)

               countries          capitals population       area
0                Andorra  Andorra la Vella      84000      468.0
1   United Arab Emirates         Abu Dhabi    4975593    82880.0
2            Afghanistan             Kabul   29121286   647500.0
3    Antigua and Barbuda        St. John's      86754      443.0
4               Anguilla        The Valley      13254      102.0
5                Albania            Tirana    2986952    28748.0
6                Armenia           Yerevan    2968000    29800.0
7                 Angola            Luanda   13068161  1246700.0
8             Antarctica              None          0      1.4E7
9              Argentina      Buenos Aires   41343201  2766890.0
10        American Samoa         Pago Pago      57881      199.0
11               Austria            Vienna    8205000    83858.0
12             Australia          Canberra   21515754  7686850.0
13                 Aruba        Oranjestad      71566      193.0
14                 Åland         Mariehamn      26711     1580.0