# Week 11 Homework

Write a class that generates fake data.

* Write the code under the py docs ( do NOT remove docs strings)
* Before comitting do a Restart & Run All

Make sure that if a dataframe is passed in, it should not remove any value from it.

In [1]:
from faker import Faker
import random
fake = Faker()
class FakeDataGenerator:
    
    def __init__(self, df = None, rows=5):
        """
        This class generates fake data
        
        If data frame is passed in it will add the fake data to it. 
        Otherwise, it will create a new data frame
        
        Parameters:
        -----------
        df: 
          DataFrame default is None
          
        rows:
          If df None, this parameter will be used to create a data frame with `row` lenght
        """
        # code goes under this line. 
        # I will deduct points if any code is written above the comments!
        self.rows=rows
        if df is None:
            self.df = pd.DataFrame(index=range(self.rows))
        else:
            self.df = df
        
        
    def add_random_number(self, column_name, small_value, high_value): # optional: add probabilities 
        """
        adds fake numbers to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        self.column_name = column_name
        self.small_value = small_value
        self.high_value = high_value
        self.df[f'{column_name}'] = [random.randint(self.small_value,self.high_value) for i in range(len(self.df))]
        return self.df       
    
        
    def add_first_name(self, column_name):
        """
        adds fake first name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        self.column_name = column_name
        self.df[f'{column_name}'] = [fake.name() for i in range(len(self.df))]
        return self.df
    
    
    def add_last_name(self, column_name):
        """
        adds fake last name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        self.column_name = column_name
        self.df[f'{column_name}'] = [fake.name() for i in range(len(self.df))]
        return self.df
    
    
    def add_email(self, column_name):
        """
        adds fake email to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        self.column_name = column_name
        self.df[f'{column_name}'] = [fake.email() for i in range(len(self.df))]
        return self.df
    
    
    def add_phone_number(self, column_name):
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        self.column_name = column_name
        self.df[f'{column_name}'] = [fake.phone_number() for i in range(len(self.df))]
        return self.df
    
    
    def add_address(self, column_name):
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        self.column_name = column_name
        self.df[f'{column_name}'] = [fake.address() for i in range(len(self.df))]
        return self.df

In [2]:
import pandas as pd

# Case 1 - existing data frame 
df = pd.DataFrame()
df['product_id'] = [i + 123 for i in range(25)]
df.head()

   product_id
0         123
1         124
2         125
3         126
4         127

In [3]:
fakeGen = FakeDataGenerator(df) # I'm creating instance using existing df
fakeGen.add_address('shipping_address')
fakeGen.add_address('billing_address')
fakeGen.add_phone_number('customer_phone')

,product_id,shipping_address,billing_address,customer_phone
0,123,"46004 Courtney Points\nOwenfort, FL 33525",96504 Harper Trafficway Suite 227\nLisaborough...,1802884309
1,124,"08277 Jacobs Summit\nReillyberg, CA 66170",Unit 3513 Box 4451\nDPO AP 98505,719.660.4317x1455
2,125,"78648 Allen Centers\nNorth Rebecca, LA 02727","755 Gonzalez Walks Suite 400\nConnerfurt, LA 9...",001-885-622-3823x00503
3,126,"9023 Carter River Apt. 102\nVickiefort, MD 88677","7516 Ellis Via Suite 783\nEast Marie, IA 82119",+1-430-331-4439
4,127,"97914 Tracey Fort\nJosephport, IL 67730","89266 Davis Summit\nBryanton, UT 25166",001-675-120-0555x75828
5,128,"056 Annette Drive\nRussellside, PA 82331","70976 Nancy Crest Suite 635\nPort Charles, NY ...",959.677.4401
6,129,"817 Miller Plaza Apt. 767\nEast Michelle, SC 7...","62193 Robert Ranch Apt. 044\nWest Brucetown, N...",(001)674-9062x0069
7,130,"8329 Munoz Course\nEast Blake, MD 02409",553 Williams Estate Suite 946\nLake Kevinhaven...,445.555.5238
8,131,"1842 Chapman Falls Suite 141\nLowemouth, NY 97401","10304 Cross Mills Suite 161\nSouth Cassandra, ...",+1-137-768-0584x008
9,132,"865 Green Overpass\nNicoleburgh, OR 50857","56048 Martin Mission Suite 453\nCynthiafurt, N...",793-237-9155
10,133,"348 Paula River Suite 743\nBakerfurt, SD 02947","786 Tyler Walk Apt. 144\nRamirezbury, SC 42319",121.846.2961x44710
11,134,"67924 Herrera Hill Suite 692\nStevenview, MT 3...","147 Morgan Plains Apt. 861\nWest Robinville, W...",+1-261-409-2031x830
12,135,"61702 Michelle Key\nNorth Stephanie, MT 06104","877 Stewart Bypass Apt. 215\nJasonborough, WY ...",182.661.9879x720
13,136,"17123 Graham Squares Suite 103\nNorth Dylan, N...","15952 Sara Estates Apt. 050\nWest Danielville,...",001-355-267-6099x8607
14,137,"81212 Patrick Meadow\nGreentown, IN 86588","019 Kyle Plains Suite 693\nLake Emilybury, PA ...",094.511.5731
15,138,"828 Kevin Knoll\nJennaside, WV 39388","17097 Margaret Rapids Apt. 227\nWest John, CO ...",001-505-858-7960x14150
16,139,"36228 David Estate\nPenastad, MN 52999","4773 Nicholas Divide\nNew Samantha, CA 22661",225-328-4388x97427
17,140,"9050 Jeffrey Ville\nBergermouth, WI 02250","93557 Miller Flats Suite 189\nOdomberg, NM 74758",065-102-0387
18,141,"72353 Adams Green Apt. 185\nMariastad, NJ 11767","56078 Mitchell Crossing Suite 314\nRoyfurt, OR...",520-949-9102
19,142,"7787 James Streets Suite 616\nMcdonaldmouth, I...","957 Romero Manor\nWillisbury, IL 75503",322-902-6919
20,143,"523 William Hills\nStephanieshire, WA 68016","26281 Donald Hollow Suite 146\nOlsonshire, OR ...",635.496.6912
21,144,"278 David Green\nBrianchester, KY 46880","08396 Debra Cliff\nGibsonside, NE 21152",922.700.2293
22,145,"80089 Samuel Views Suite 663\nJessemouth, NJ 2...","4362 Wells Key\nGuerreroburgh, AL 11059",(982)537-8612x18967
23,146,Unit 3537 Box 0162\nDPO AA 72266,"PSC 2300, Box 8635\nAPO AA 55072",001-437-379-8090x66614
24,147,"573 Brenda Club Suite 733\nJonberg, KS 47562",99723 Stephens Freeway Suite 365\nOscarchester...,+1-165-600-0339x8884

In [4]:
# Case 2 - no dataframe

fakeGen = FakeDataGenerator() # no df
fakeGen.add_address('shipping_address')
fakeGen.add_address('billing_address')
fakeGen.add_phone_number('customer_phone')
fakeGen.add_random_number('sale_count', 10, 100)

,shipping_address,billing_address,customer_phone,sale_count
0,"12258 Claudia Manors\nJasonfurt, OK 63746","3846 Brown Summit Suite 232\nSandersbury, HI 6...",7311062134,94
1,"562 Lang Plains\nWrightberg, AR 29413","901 April Stravenue Suite 959\nRachelberg, DC ...",+1-219-057-4801x741,99
2,"5264 Jones Stream\nSherylville, TX 75231","095 Sandra Parks\nWest Michelleville, AZ 64980",(350)182-9398,86
3,353 Christopher Burg Suite 429\nNorth Tommyvie...,"163 Michelle Island\nGomezshire, OH 36303",+1-611-365-3723x99338,96
4,"64554 Lori Stream\nNorth Margaretmouth, AL 27166","212 Victoria Overpass Suite 649\nTrevorton, ID...",491.839.6403x019,80